In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://www.skysports.com/premier-league-table/2019'

In [3]:
page = requests.get(url)
# print(page.status_code)
# print(page.text)

In [4]:
soup  = BeautifulSoup(page.text , 'html.parser')
# print(soup.prettify)
# print(soup.find_all('a'))

In [5]:
league = soup.find('table',class_ = "standing-table__table")
# print(league)

In [6]:
league_table = league.find_all('tbody')
# print(league_table)

In [7]:
league_2019 = []
for teams in league_table:
    rows = teams.find_all('tr')
    for row in rows:
        team_name = row.find('td',class_ = 'standing-table__cell standing-table__cell--name').text.strip()
        team_point = row.find_all('td', class_ = 'standing-table__cell' )[9].text.strip()
        league_dict = {
            'name': team_name,
            'points': team_point
        }
        league_2019.append(league_dict)

In [8]:
df = pd.DataFrame(league_2019)

In [9]:
df

                        name points
0                  Liverpool     99
1            Manchester City     81
2          Manchester United     66
3                    Chelsea     66
4             Leicester City     62
5          Tottenham Hotspur     59
6    Wolverhampton Wanderers     59
7                    Arsenal     56
8           Sheffield United     54
9                    Burnley     54
10               Southampton     52
11                   Everton     49
12          Newcastle United     44
13            Crystal Palace     43
14  Brighton and Hove Albion     41
15           West Ham United     39
16               Aston Villa     35
17               Bournemouth     34
18                   Watford     34
19              Norwich City     21

In [11]:
df.to_csv("Premier_League_table.csv")